<h3><%= translate(:application_name) %></h3>
<% form_tag(:action => :e) do %>
<%= text_field :entry, :expression %>

<%= submit_tag :add %>
<% end %>

<ul>
<% for entry in @entries %>
  <li><%= entry.expression %></li>
<% end %> 
</ul>
